* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
  color: wheat;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: linear-gradient(to right, #ff105f, #ffad06);
}

.navbar__logo {
  font-size: 24px;
  color: var(--text-color);
}

.navbar__logo i {
  color: var(--accent-color);
}

.navbar__menu {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.navbar__menu li:nth-child(4) {
   margin-left: auto;
}

.navbar__menu li {
  padding: 8px 12px;
}



 .navbar__menu li:hover {
  background-color: goldenrod;
  border-radius: 4px;
  transition: 0.7s;
  color: black;
} 
.navbar__icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
  cursor: pointer;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: red;
}

.myinfo {
	color:black;
	text-align: right;
	border:none;
	background-color: inherit;
}



.myinfo:hover {
	cursor:pointer;
	background-color: none;
	
}
/*모바일*/
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar__menu a {
    display: block;
  }

  /*아이콘들*/
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}
